* {
  font-family: 'Nunito Sans';
  outline: none; }

body {
  font-size: 17px; }

a {
  color: inherit; }
  a:hover, a:focus {
    text-decoration: none;
    color: inherit; }

h1, h2, h3, h4 {
  font-weight: 800; }

h5 {
  font-weight: 600;
  margin-bottom: 5px; }

ul {
  padding-left: 0;
  margin: 0; }

li {
  list-style: none; }

label {
  font-weight: 300; }

input[type="checkbox"], input[type="radio"] {
  height: 15px;
  width: 15px;
  margin: 5px; }

textarea {
  max-width: 100%; }

textarea, input, button {
  outline: none !important; }

h1 {
  font-size: 2em;
  line-height: 1.4; }
  @media (min-width: 43.75em) {
    h1 {
      font-size: 2.3em;
      line-height: 1.125; } }
  @media (min-width: 56.25em) {
    h1 {
      font-size: 2.5em;
      line-height: 1.05; } }

h2 {
  font-size: 1.625em;
  line-height: 1.3; }
  @media (min-width: 992px) {
    h2 {
      font-size: 2em;
      line-height: 1.25; } }
  @media (min-width: 1199px) {
    h2 {
      font-size: 2.25em;
      line-height: 1.25; } }

h3 {
  font-size: 1.375em;
  line-height: 1.2; }
  @media (min-width: 992px) {
    h3 {
      font-size: 1.5em;
      line-height: 1.25; } }
  @media (min-width: 1199px) {
    h3 {
      font-size: 1.75em;
      line-height: 1.25; } }

h4 {
  font-size: 1.125em;
  line-height: 1.2; }
  @media (min-width: 43.75em) {
    h4 {
      line-height: 1.22222222; } }

#scrollTop {
  position: fixed;
  cursor: pointer;
  bottom: 30px;
  right: 30px;
  font-size: 42px;
  color: white;
  transition: 0.2s; }
  @media all and (max-width: 850px) {
    #scrollTop {
      display: none; } }
  #scrollTop:hover {
    color: #ccc; }

.blue {
  color: #001e5b; }

.red {
  color: #9e292e; }

.bgred {
  background-color: #9e292e;
  color: white; }

.section-title {
  margin-bottom: 60px;
  text-align: center; }

.foto-trigger {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center; }

.tooltip.bottom > .tooltip-inner {
  background-color: #9e292e;
  color: white; }

.tooltip.bottom > .tooltip-arrow {
  border-bottom-color: #9e292e; }

.spacer {
  height: 80px;
  width: 100%;
  clear: both;
  display: block; }

#toprow {
  padding: 5px;
  background: #282828;
  color: #a1a1a1; }
  #toprow p {
    margin: 2px 0 0;
    font-size: 14px; }
    @media all and (max-width: 767px) {
      #toprow p {
        font-size: 12px; } }
  @media all and (max-width: 767px) {
    #toprow p.pull-left {
      float: none !important;
      text-align: right; } }
  #toprow a {
    font-weight: bold;
    padding: 4px 0 4px 15px; }
    #toprow a:hover {
      color: #d96d72; }
  #toprow i {
    padding: 4px 0 4px 15px;
    float: right;
    cursor: pointer; }
    #toprow i:hover {
      color: #d96d72; }

.navbar {
  min-height: 80px; }

.navbar-toggle {
  margin-top: 23px;
  margin-bottom: 23px; }

.navbar-brand {
  float: left;
  padding: 18px 15px;
  font-size: 20px;
  line-height: 24px;
  height: 80px; }
  @media all and (max-width: 767px) {
    .navbar-brand img {
      width: 200px;
      margin-top: 3px; } }

@media all and (min-width: 992px) {
  .navbar-brand {
    float: left;
    padding: 18px 15px;
    font-size: 20px;
    line-height: 24px;
    height: 80px; }

  .navbar-nav > li > a {
    padding-top: 28px;
    padding-bottom: 28px; } }
@media all and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav > li > a {
    padding: 28px 0 28px 10px;
    font-size: 14px; } }
#footer-container {
  padding-top: 90px;
  padding-bottom: 60px;
  background: #ccc;
  font-size: 14px; }
  #footer-container img {
    height: auto;
    max-height: 120px;
    margin: 0 auto 15px; }
  @media all and (max-width: 768px) {
    #footer-container {
      text-align: center; } }

#home-banner {
  position: relative;
  margin-top: -24px;
  margin-bottom: 35px;
  height: 700px;
  width: 100%;
  background-image: url("../img/ibirapuera.jpg");
  background-position: center bottom;
  background-size: cover; }
  @media all and (max-width: 1200px) {
    #home-banner {
      height: 560px; } }

#home-banner-buttons {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.2s cubic-bezier(0.17, 0.67, 0.55, 0.9); }
  #home-banner-buttons button {
    display: block;
    margin: 5px auto;
    padding: 4px; }
    #home-banner-buttons button h4 {
      margin: 8px 6px 6px;
      font-weight: 400;
      letter-spacing: 0.5px;
      font-size: 18px; }
  #home-banner-buttons i {
    font-size: 72px;
    margin: 50px auto 0;
    text-align: center;
    display: block;
    width: 47px;
    transition: 0.2s;
    color: #444; }
    #home-banner-buttons i:hover {
      color: black; }
  #home-banner-buttons.on {
    top: 50px;
    min-width: 330px; }
    #home-banner-buttons.on button {
      display: inline-block; }
      #home-banner-buttons.on button h4 {
        margin: 8px 6px 6px;
        font-weight: 300;
        letter-spacing: 0px;
        font-size: 14px; }
    #home-banner-buttons.on i {
      display: none; }

#busca-imovel {
  z-index: 999;
  position: absolute;
  left: 50%;
  top: 90px;
  width: calc(100% - 30px);
  max-width: 800px;
  margin: 0;
  transform: translate(-50%, 0);
  padding-top: 15px;
  padding-bottom: 15px;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #ccc;
  display: none;
  transition: 0.5s cubic-bezier(0.17, 0.67, 0.55, 0.9);
  transform-origin: center bottom; }
  #busca-imovel > div:last-child {
    margin-top: 15px; }
  #busca-imovel.on {
    display: block; }
  #busca-imovel input.busca-check:checked + span {
    color: #9e292e; }
  #busca-imovel li {
    font-size: 14px;
    padding: 0;
    display: inline; }
  #busca-imovel .inline-col .input-group-btn {
    display: inline-block;
    margin: 13px 30px 13px 0; }
  #busca-imovel .btn-group .btn-default.selected {
    background: #ccc;
    color: #9e292e;
    font-weight: 700; }
  #busca-imovel .btn-toolbar .btn-group {
    width: 100%; }
    #busca-imovel .btn-toolbar .btn-group .btn-default {
      width: 20%; }

.preco-input input {
  padding-left: 35px; }
.preco-input span::after {
  content: 'R$';
  position: absolute;
  font-family: 'Helvetica';
  top: 12px;
  left: 25px;
  z-index: 9;
  color: #888; }

.input-group[class*="col-"] {
  float: left;
  padding-left: 15px;
  padding-right: 15px; }

#encontre-close {
  position: absolute;
  top: -6px;
  right: 10px;
  cursor: pointer;
  color: #9e292e;
  font-size: 24px; }
  #encontre-close i {
    opacity: 0.5;
    transition: 0.2s; }
    #encontre-close i:hover {
      opacity: 1; }

#sidebar-busca-imovel {
  margin-top: 20px;
  background: #ededed;
  border-radius: 5px;
  margin-bottom: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid #ccc;
  transition: 0.5s cubic-bezier(0.17, 0.67, 0.55, 0.9);
  transform-origin: center bottom; }
  #sidebar-busca-imovel #bairro-box {
    height: 210px;
    overflow: scroll;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px; }
  #sidebar-busca-imovel > div:last-child {
    margin-top: 15px; }
  #sidebar-busca-imovel input.busca-check:checked + span {
    color: #9e292e; }
  #sidebar-busca-imovel li {
    font-size: 14px;
    padding: 0; }
  #sidebar-busca-imovel .btn-group .btn-default.selected {
    background: #bbb;
    color: #9e292e;
    font-weight: 700; }
  #sidebar-busca-imovel .tipo .btn-default {
    width: 50%; }
  #sidebar-busca-imovel .btn-toolbar .btn-group {
    width: 100%; }
    #sidebar-busca-imovel .btn-toolbar .btn-group .btn-default {
      width: 20%; }

#imoveis-wrapper.busca .slider-container {
  margin-top: 5px; }
#imoveis-wrapper.busca p small a {
  color: #9e292e; }
  #imoveis-wrapper.busca p small a:hover, #imoveis-wrapper.busca p small a:focus, #imoveis-wrapper.busca p small a:active, #imoveis-wrapper.busca p small a:visited {
    font-weight: 600; }
#imoveis-wrapper.busca .fav {
  margin: 10px;
  color: white;
  font-size: 24px;
  z-index: 99999;
  position: absolute;
  display: block;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  cursor: crosshair; }

.pagination > li > a, .pagination > li > span {
  color: #001e5b;
  font-weight: 600; }

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
  color: #9e292e;
  background: #ccc; }

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background: #ededed;
  color: #9e292e;
  font-weight: 800;
  border: none; }

#fav-sidebar {
  background: #ededed;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 30px;
  margin-top: 10px; }

#cadastre-wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: scroll;
  z-index: 99999;
  background: rgba(0, 0, 0, 0.3); }
  #cadastre-wrapper.on {
    display: block; }
  #cadastre-wrapper .container {
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    z-index: 9999;
    background: #fafafa;
    padding: 15px 30px 30px; }
  #cadastre-wrapper .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 990;
    cursor: pointer; }
  #cadastre-wrapper h4 {
    margin-top: 20px;
    font-size: 24px;
    padding-bottom: 5px;
    border-bottom: 2px solid #dedede; }
  #cadastre-wrapper textarea {
    height: 127px; }
  #cadastre-wrapper .obrigatorio {
    color: #9e292e; }
  #cadastre-wrapper button.btn-warning {
    margin-top: 35px;
    width: 100%; }
  #cadastre-wrapper span::after {
    top: 9px; }

#cadastre-close {
  position: absolute;
  top: 6px;
  right: 10px;
  cursor: pointer;
  color: #9e292e;
  font-size: 24px; }
  #cadastre-close i {
    opacity: 0.5;
    transition: 0.2s; }
    #cadastre-close i:hover {
      opacity: 1; }

.sss {
  height: 0;
  margin: 0;
  padding: 0;
  position: relative;
  display: block;
  overflow: hidden; }

.ssslide {
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  overflow: hidden; }

.ssslide img {
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  position: relative;
  display: block; }

.sssnext, .sssprev {
  width: 25px;
  height: 100%;
  margin: 0;
  position: absolute;
  top: 0;
  background: url("images/arr.png") no-repeat; }

.sssprev {
  left: 3%;
  background-position: 0 50%; }

.sssnext {
  right: 3%;
  background-position: -26px 50%; }

.sssprev:hover, .sssnext:hover {
  cursor: pointer; }

#imoveis-wrapper .btn.btn-warning {
  color: #9e292e;
  background-color: #ffffff;
  border-color: #8a2428;
  padding: 3px 8px; }
  #imoveis-wrapper .btn.btn-warning:hover {
    color: white;
    background-color: #8a2428; }
#imoveis-wrapper.home .ssslide {
  height: 300px; }
#imoveis-wrapper.busca .ssslide {
  height: 240px; }
#imoveis-wrapper .ssslide {
  background-position: center;
  background-size: cover;
  width: 100%;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc; }
#imoveis-wrapper .slider-container {
  margin-bottom: 30px;
  transition: 0.2s;
  border-radius: 5px; }
  #imoveis-wrapper .slider-container h3, #imoveis-wrapper .slider-container h4 {
    padding-bottom: 8px;
    border-bottom: 1px solid #ededed;
    margin-top: 6px;
    margin-bottom: 0; }
#imoveis-wrapper .list-inline {
  margin: 0;
  padding: 5px 0 12px;
  border: 1px solid #ccc;
  text-align: center; }
  #imoveis-wrapper .list-inline:hover {
    background: #ededed; }

#home-empresa {
  background-image: url("../img/ibirared.jpg");
  background-size: cover;
  background-position: center; }

#imovel-wrapper h3 {
  margin-bottom: 0;
  margin-top: 10px; }
#imovel-wrapper .btn.btn-warning {
  color: #9e292e;
  background-color: #ffffff;
  border-color: #8a2428;
  padding: 3px 8px; }
  #imovel-wrapper .btn.btn-warning:hover {
    color: white;
    background-color: #8a2428; }
#imovel-wrapper .ssslide {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc; }
  @media all and (max-width: 767px) {
    #imovel-wrapper .ssslide {
      height: 360px; } }
#imovel-wrapper .slider-container {
  margin-bottom: 5px;
  transition: 0.2s;
  border-radius: 5px; }
  #imovel-wrapper .slider-container h3, #imovel-wrapper .slider-container h4 {
    padding-bottom: 8px;
    border-bottom: 1px solid #ededed;
    margin-top: 6px;
    margin-bottom: 0; }
#imovel-wrapper ul {
  margin-bottom: 5px; }
#imovel-wrapper dl {
  border-top: 5px solid #9e292e;
  background-color: white;
  padding-top: 15px;
  margin-top: 15px; }

#detalhes-contato {
  background: #ededed;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 30px;
  margin-top: 10px; }

.detalhes.list-inline > li {
  display: inline-block;
  padding: 3px 7px;
  background: #ededed;
  margin: 5px;
  border-radius: 5px; }

#bubbleMap {
  margin-bottom: 15px; }

#imovelOptions a {
  color: #888; }
#imovelOptions a.red {
  color: #9e292e; }
#imovelOptions a:hover {
  color: #001e5b; }

#servicos-left div {
  position: fixed;
  top: 206px;
  padding: 15px 30px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #181818;
  border-radius: 5px;
  border: 1px solid #ccc; }
  @media all and (max-width: 991px) {
    #servicos-left div {
      position: relative;
      margin-top: 60px;
      top: 0; }
      #servicos-left div h2 {
        font-size: 16px !important;
        border-left: 3px solid !important; } }
#servicos-left h2 {
  font-weight: 900;
  opacity: 1;
  transition: 0.5s;
  font-size: 16px;
  margin-top: 13px;
  border-left: 3px solid;
  padding-left: 10px; }
  #servicos-left h2:hover {
    border-left: 5px solid; }
  #servicos-left h2.on {
    opacity: 1;
    font-size: 28px;
    border-left: 5px solid; }
#servicos-left h4 {
  opacity: 0.5; }

#servicos-right h5 {
  opacity: 0.7; }
#servicos-right h4 {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 700;
  padding-left: 72px; }
  @media all and (max-width: 991px) {
    #servicos-right h4 {
      padding-left: 0px; } }
#servicos-right .section-div {
  transition: 0.5s; }
#servicos-right .off {
  opacity: 0.5; }
  @media all and (max-width: 991px) {
    #servicos-right .off {
      opacity: 1; } }
#servicos-right .lead {
  font-size: 1.5em; }

#servicos-wrapper {
  background-color: #9e292e;
  color: #ededed;
  margin-top: -24px;
  transition: 0.5s; }
  #servicos-wrapper.bgblue {
    background-color: #001e5b; }
  #servicos-wrapper .spacer {
    height: 90px; }
    @media all and (max-width: 991px) {
      #servicos-wrapper .spacer {
        height: 60px; } }
  #servicos-wrapper object {
    position: fixed;
    width: 75%;
    height: 100vh;
    padding: 60px 100px 200px 220px;
    opacity: 0.1; }
    @media all and (max-width: 991px) {
      #servicos-wrapper object {
        width: 100%;
        padding: 0px;
        top: 0; } }
  #servicos-wrapper p {
    font-size: 1.1em;
    color: #ccc; }
  @media all and (max-width: 991px) {
    #servicos-wrapper {
      background: #001e5b !important; } }
  #servicos-wrapper ul li {
    font-size: 18px;
    margin-top: 25px;
    list-style: disc; }

#carousel-quotes-wrapper {
  min-height: 498px; }
  #carousel-quotes-wrapper .carousel-control {
    background: transparent !important;
    top: 100px; }
  #carousel-quotes-wrapper .carousel-inner blockquote {
    border: none; }
  #carousel-quotes-wrapper .carousel-inner .item {
    padding: 15px 50px;
    height: auto; }
    #carousel-quotes-wrapper .carousel-inner .item p {
      font-size: 0.9em !important; }
    @media all and (max-width: 767px) {
      #carousel-quotes-wrapper .carousel-inner .item {
        padding: 10px; }
        #carousel-quotes-wrapper .carousel-inner .item p {
          font-size: 14px !important; } }

.steps h1 small {
  color: white; }
.steps small {
  font-size: 14px; }

.clientes > div {
  padding: 30px 10px 15px; }
.clientes img.img-responsive {
  width: 120px;
  margin: 0 auto; }

.map {
  cursor: pointer;
  position: relative;
  height: 400px;
  margin-top: 30px; }
  .map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px; }
  .map:before, .map:after {
    transition: all 0.25s ease;
    position: absolute;
    display: block; }
  .map:before {
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    opacity: 0;
    z-index: 10;
    height: 400px; }
  .map:after {
    content: 'Clique para navegar';
    background: #9e292e;
    color: #fff;
    width: 200px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    opacity: 0; }
  .map:hover:before {
    opacity: 0.2; }
  .map:hover:after {
    opacity: 1; }
  .map.interact:before, .map.interact:after {
    display: none; }

/*# sourceMappingURL=style.css.map */
